img{
	width: 200px;
	height: 200px;
}
table{
	width: 400px;
	height: 700px;
	border: 1px solid black;
	padding: 0px;
	position:absolute;
	left:50px;
	top:300px;
}
.img1{
	position: absolute;
	left: 100px;
	top: 50px;

}
.img2{
	position: absolute;
	left: 100px;
	top: 50px;

}